<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("css", false)
    <link href="~/Content/Site.css" rel="stylesheet" />

    <title>@ViewBag.Title - The Simcha Fund</title>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Simcha Fund", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Simchos", "Index", "Simchos")</li>
                    <li class="">@Html.ActionLink("Contributors", "Index", "Contributors")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.Message
            </div>
        }
        else if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.ErrorMessage
            </div>
        }
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer><p>&copy; @DateTime.Now.Year - Simcha Fund</p></footer>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
